USE [master]
GO
/****** Object:  Database [ComputerComposer]    Script Date: 31.12.2020 12:23:03 ******/
CREATE DATABASE [ComputerComposer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputerComposer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.POLERSQL\MSSQL\DATA\ComputerComposer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputerComposer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.POLERSQL\MSSQL\DATA\ComputerComposer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputerComposer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputerComposer]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boxes]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boxes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Boxes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Price] [real] NOT NULL,
	[RGB] [bit] NOT NULL,
	[BoxId] [int] NOT NULL,
	[GraphicId] [int] NOT NULL,
	[OSystemId] [int] NOT NULL,
	[PowerUnitId] [int] NOT NULL,
	[ProcessorId] [int] NOT NULL,
	[RamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Computers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Graphics]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Graphics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Speed] [int] NOT NULL,
	[VRam] [int] NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Graphics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OSystems]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OSystems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_dbo.OSystems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerUnits]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Power] [int] NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_dbo.PowerUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Processors]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Processors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Cores] [int] NOT NULL,
	[Threads] [int] NOT NULL,
	[Speed] [real] NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Processors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rams]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Speed] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Rams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31.12.2020 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Boxes] ON 

INSERT [dbo].[Boxes] ([Id], [Name], [Color], [Price]) VALUES (1, N'Signum', N'Black', 190)
INSERT [dbo].[Boxes] ([Id], [Name], [Color], [Price]) VALUES (2, N'Regnum', N'Black', 180)
INSERT [dbo].[Boxes] ([Id], [Name], [Color], [Price]) VALUES (3, N'Astral', N'Black', 190)
SET IDENTITY_INSERT [dbo].[Boxes] OFF
GO
SET IDENTITY_INSERT [dbo].[Computers] ON 

INSERT [dbo].[Computers] ([Id], [Name], [Price], [RGB], [BoxId], [GraphicId], [OSystemId], [PowerUnitId], [ProcessorId], [RamId]) VALUES (21, N'Simple1', 2667, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[Computers] ([Id], [Name], [Price], [RGB], [BoxId], [GraphicId], [OSystemId], [PowerUnitId], [ProcessorId], [RamId]) VALUES (22, N'OK', 2999, 1, 2, 2, 2, 2, 2, 2)
INSERT [dbo].[Computers] ([Id], [Name], [Price], [RGB], [BoxId], [GraphicId], [OSystemId], [PowerUnitId], [ProcessorId], [RamId]) VALUES (29, N'Enough', 4999, 1, 3, 3, 2, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Computers] OFF
GO
SET IDENTITY_INSERT [dbo].[Graphics] ON 

INSERT [dbo].[Graphics] ([Id], [Name], [Speed], [VRam], [Price]) VALUES (1, N'GT 730', 900, 2, 360)
INSERT [dbo].[Graphics] ([Id], [Name], [Speed], [VRam], [Price]) VALUES (2, N'GTX 1050Ti', 1450, 4, 620)
INSERT [dbo].[Graphics] ([Id], [Name], [Speed], [VRam], [Price]) VALUES (3, N'RTX 3070', 1770, 8, 3000)
SET IDENTITY_INSERT [dbo].[Graphics] OFF
GO
SET IDENTITY_INSERT [dbo].[OSystems] ON 

INSERT [dbo].[OSystems] ([Id], [Name], [Price]) VALUES (1, N'Windows 10 Home ', 499)
INSERT [dbo].[OSystems] ([Id], [Name], [Price]) VALUES (2, N'Windows 10 Professional ', 499)
INSERT [dbo].[OSystems] ([Id], [Name], [Price]) VALUES (3, N'Windows 10 Mobile', 299)
SET IDENTITY_INSERT [dbo].[OSystems] OFF
GO
SET IDENTITY_INSERT [dbo].[PowerUnits] ON 

INSERT [dbo].[PowerUnits] ([Id], [Name], [Power], [Price]) VALUES (1, N'Vero L3', 600, 240)
INSERT [dbo].[PowerUnits] ([Id], [Name], [Power], [Price]) VALUES (2, N'Supremo FM2 ', 750, 440)
INSERT [dbo].[PowerUnits] ([Id], [Name], [Power], [Price]) VALUES (3, N'Elementum E2', 550, 270)
SET IDENTITY_INSERT [dbo].[PowerUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[Processors] ON 

INSERT [dbo].[Processors] ([Id], [Name], [Cores], [Threads], [Speed], [Price]) VALUES (1, N'Ryzen 5 3600', 6, 12, 3.6, 1069)
INSERT [dbo].[Processors] ([Id], [Name], [Cores], [Threads], [Speed], [Price]) VALUES (2, N'i5 10400F', 6, 12, 2.9, 699)
INSERT [dbo].[Processors] ([Id], [Name], [Cores], [Threads], [Speed], [Price]) VALUES (3, N'Ryzen 5 2600X', 6, 12, 3.6, 659)
SET IDENTITY_INSERT [dbo].[Processors] OFF
GO
SET IDENTITY_INSERT [dbo].[Rams] ON 

INSERT [dbo].[Rams] ([Id], [Name], [Speed], [Capacity], [Price]) VALUES (1, N'Ripjaws', 3200, 16, 309)
INSERT [dbo].[Rams] ([Id], [Name], [Speed], [Capacity], [Price]) VALUES (2, N'Fury', 2666, 16, 311)
INSERT [dbo].[Rams] ([Id], [Name], [Speed], [Capacity], [Price]) VALUES (3, N'Viper Elite', 2666, 16, 294)
SET IDENTITY_INSERT [dbo].[Rams] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (2, N'moje', N'haslo')
INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (3, N'poka', N'yoke')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BoxId]    Script Date: 31.12.2020 12:23:03 ******/
CREATE NONCLUSTERED INDEX [IX_BoxId] ON [dbo].[Computers]
(
	[BoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GraphicId]    Script Date: 31.12.2020 12:23:03 ******/
CREATE NONCLUSTERED INDEX [IX_GraphicId] ON [dbo].[Computers]
(
	[GraphicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OSystemId]    Script Date: 31.12.2020 12:23:03 ******/
CREATE NONCLUSTERED INDEX [IX_OSystemId] ON [dbo].[Computers]
(
	[OSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PowerUnitId]    Script Date: 31.12.2020 12:23:03 ******/
CREATE NONCLUSTERED INDEX [IX_PowerUnitId] ON [dbo].[Computers]
(
	[PowerUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcessorId]    Script Date: 31.12.2020 12:23:03 ******/
CREATE NONCLUSTERED INDEX [IX_ProcessorId] ON [dbo].[Computers]
(
	[ProcessorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RamId]    Script Date: 31.12.2020 12:23:03 ******/
CREATE NONCLUSTERED INDEX [IX_RamId] ON [dbo].[Computers]
(
	[RamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Computers_dbo.Boxes_BoxId] FOREIGN KEY([BoxId])
REFERENCES [dbo].[Boxes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_dbo.Computers_dbo.Boxes_BoxId]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Computers_dbo.Graphics_GraphicId] FOREIGN KEY([GraphicId])
REFERENCES [dbo].[Graphics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_dbo.Computers_dbo.Graphics_GraphicId]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Computers_dbo.OSystems_OSystemId] FOREIGN KEY([OSystemId])
REFERENCES [dbo].[OSystems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_dbo.Computers_dbo.OSystems_OSystemId]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Computers_dbo.PowerUnits_PowerUnitId] FOREIGN KEY([PowerUnitId])
REFERENCES [dbo].[PowerUnits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_dbo.Computers_dbo.PowerUnits_PowerUnitId]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Computers_dbo.Processors_ProcessorId] FOREIGN KEY([ProcessorId])
REFERENCES [dbo].[Processors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_dbo.Computers_dbo.Processors_ProcessorId]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Computers_dbo.Rams_RamId] FOREIGN KEY([RamId])
REFERENCES [dbo].[Rams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_dbo.Computers_dbo.Rams_RamId]
GO
USE [master]
GO
